:where(.css-dev-only-do-not-override-iecf5o).ant-select:not(.ant-select-customize) .ant-select-input, input#retentionValue, input#floor, input#max_capacity, input#price_per_semester, input#maxUtilityTime {
    --tw-ring-shadow: none;
}
span.ant-input-wrapper.ant-input-group.css-dev-only-do-not-override-iecf5o, span.ant-input-wrapper.ant-input-group.css-dev-only-do-not-override-iecf5o > span {
    height: 40px;
}